<html>
<head>
<title>Base</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css" />
</head>
<body>
<div id="container">

  <!-- Header -->
  <div id="header">

    <!-- Topbar -->
    <div id="topbar">

      <!-- Left menu -->
      <ul class="left menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Quick Links</a>
          <ul>
            <li><a href="#">Academic Calendar</a></li>
            <li><a href="#">Applicatoin deadline</a><li>
            <li><a href="#">Map to Bank Street</a></li>
          </ul>
        </li>
      </ul>
      <!-- /Left menu -->
    
      <!-- Right menu -->
      <ul class="right menu">
        <li><a href="#"><a href="#">Log-in</a></li>
        <li><input type="button" value="Support Us" /></li>
      </ul>
      <!-- /Right menu -->

    </div>
    <!-- /Topbar -->
    <!-- Logo -->
    <div id="logo">
      <div id="site_name"><h1>Bank Street College</h1></div>
      <div id="site_slogan"><span>Educating children and those involved in teaching theme: educators, parents, policy makers</span></div>
    </div>
    <!-- /Logo -->

    <!-- Search -->
    <div id="search">
      <form method="post">
        <input type="text" size="15" value="Search" />
      </form>
    </div>
    <!-- /Search -->

    <!-- Main menu -->
    <div id="main-menu">
      <ul class="menu">
        <li><a href="#">Graduate & Continuing Ed.</a>
          <ul>
            <li><a href="#">Graduate School</a></li>
            <li><a href="#">Cont. Prof. Education</a></li>
            <li><a href="#">Online Education</a></li>
            <li><a href="#">Partnership Programs</a></li>
          </ul>
        </li>
        <li><a href="#">Children Education</a>
          <ul>
            <li><a href="#">School for Children</a></li>
            <li><a href="#">After School Programs</a></li>
            <li><a href="#">Family Center</a></li>
            <li><a href="#">Liberty Leads</a></li>
            <li><a href="#">Summer Camp</a></li>
          </ul>
        </li>
        <li><a href="#">Education Resource</a>
><a href="#">Library</a></li>
            <li><a href="#">Children's Book Club</a></li>
            <li><a href="#">The Bank Street Blogosphere</a></li>
            <li><a href="#">ITunesU</a></li>
            <li><a href="#">Video Archive</a></li>
            <li><a href="#">Bank Street Podcasts</a></li>
            <li>...</li>
          </ul>
        </li>
        <li><a href="">On Campus & Beyond</a>
          <ul>
            <li><a href="#">Bookstore</a></li>
            <li><a href="#">Alumni Club</a></li>
            <li><a href="#">Twitter feed</a></li>
            <li><a href="#">Facebook Page</a></li>
            <li><a href="#">Flickr Group</a></li>
            <li>...</li>
          </ul>
        </li>
        <li><a href="#">Discover Bank Street</a>
          <ul>
            <li><a href="#">Vision</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Our Approach</a></li>
            <li><a href="#">Adminstrative Team</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /Main menu -->
  </div>
  <div id="main">{% block content %}{% endblock %}</div>
  <div id="footer">
    <div class="menu-block">
      <h2>Graduate & Continueing Ed.</h2>
      <ul>
        <li><a href="#">Graduate School</a></li>
        <li><a href="#">Cont. Prof. Education</a></li>
        <li><a href="#">Online Education</a></li>
        <li><a href="#">Partnership Programs</a></li>
      </ul>
    </div>
    <div class="menu-block">
      <h2>Child Education</h2>
      <ul>
        <li><a href="#">School for Children</a></li>
        <li><a href="#">After School Programs</a></li>
        <li><a href="#">Family Center</a></li>
        <li><a href="#">Liberty Leads</a></li>
        <li><a href="#">Summer Camp</a></li>
      </ul>
    </div>
    <div class="menu-block">
      <h2>Research & Publications</h2>
      <ul>
        <li><a href="#">Library</a></li>
        <li><a href="#">Children's Book Club</a></li>
        <li><a href="#">The Bank Street Blogosphere</a></li>
        <li><a href="#">ITunesU</a></li>
        <li><a href="#">Video Archive</a></li>
        <li><a href="#">Bank Street Podcasts</a></li>
        <li>...</li>
      </ul>
    </div>
    <div class="menu-block">
      <h2>Campus Life & Beyond</h2>
      <ul>
        <li><a href="#">Bookstore</a></li>
        <li><a href="#">Alumni Club</a></li>
        <li><a href="#">Twitter feed</a></li>
        <li><a href="#">Facebook Page</a></li>
        <li><a href="#">Flickr Group</a></li>
        <li>...</li>
      </ul>
    </div>
    <div class="menu-block">
      <h2>About Bank Street</h2>
      <ul>
        <li><a href="#">Vision</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Our Approach</a></li>
        <li><a href="#">Adminstrative Team</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div id="site_map">
      <a href="#">Events Calendar</a> |
      <a href="#">Search</a> |
      <a href="#">Site map</a> |
      <a href="#"> Copyright & Copyleft</a> |
      <a href="#">Map & Contact Us.</a>
    </div>

  </div>
</div>
</body>
</html>

